<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>MDX Course work</title>
  <!-- <link href="main-styles.css" rel="stylesheet" type="text/css" /> -->
  <link href="tailwind.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="product.js"></script>

  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Lato" rel="stylesheet">

</head>


<body>
  <div id="app" class="bg-black w-screen min-h-screen ">
    <header class="bg-gray-900 h-24 flex items-center  text-2xl">
      <div class="w-screen max-w-screen-xl m-auto text-white flex justify-between">
        <span>

          MDX Course Work
        </span>
        <Button v-on:click="navigate" class="border-2 text-sm p-2 font-extralight hover:bg-black cursor-pointer">
          View {{pageInverse}} {{cartItemCount}} {{cartItemCount == 0 ? "(disabled)" : ""}}
      </div>
      </Button>

    </header>
    <section v-if="currentPage === 'home'">
      <lessons v-bind:items-in-cart="itemsInCart" v-bind:is-enabled="isEnabled" v-on:add-to-cart="addToCart"
        v-bind:subjects="subjects" v-bind:sort-by-place-holder="sortByPlaceHolder" v-bind:search="search"
        v-bind:sort-by="sortBy" v-bind:order-by="orderBy" v-bind:order-by-placeholder="orderByPlaceholder" />
    </section>
    <section v-if="currentPage === 'cart'">
      <cart v-bind:items-in-cart="itemsInCart" v-bind:get-cart-products="getCartProducts()"
        v-bind:is-enabled="isEnabled" v-on:add-to-cart="addToCart" v-on:remove-from-cart="removeFromCart"
        v-bind:cart-item-count="cartItemCount" v-bind:navigate="navigate" />
    </section>
    <section v-if="currentPage === 'checkout'">
      <checkout v-bind:form="form" :create-an-order="createAnOrder" v-on:create-an-order="createAnOrder"
        v-bind:get-cart-products="getCartProducts()" :is-form-button-valid="isFormButtonValid"
        :total-cart-sum="totalCartSum" />
    </section>
    <section v-if="currentPage === 'success'">
      <main class="max-w-screen-xl py-20 text-gray-100 m-auto">
        <h1 class="text-xl ">
          Success 🎉
        </h1>
        <p class="font-thin">
          Your order has been made successfully, Thank you for time.
        </p>

        <button v-on:click="navigate('home')"
          class="border-2 bg-white text-black text-sm p-2 font-extralight mt-5 w-80 text-center hover:bg-black hover:text-white cursor-pointer">
          Go Back to Home
        </button>


      </main>
    </section>


    <div class="text-white  text-center w-screen py-20 font-thin">
      Developed By <a class="underline" href="https://rajaosama.me">Raja Osama</a>
    </div>
  </div>
  <script type="module" src="index.js"></script>
</body>

</html>